body{
    background-image:url('image/background.png');
}

img{
    width:150px;
    height: 200px;
    
}
#cards{
    justify-content: center;
    align-items: center;
}

#player img{
    width:100px;
    height: 133px;
    padding:10px;
    margin-top:10px;

}

#computer img{
    width:100px;
    height: 133px;
    padding:10px;
    margin-top:10px;
    
}

button {
    display: inline-block;
      padding: 10px 20px;
      font-size: 20px;
      text-align: center;
      margin: 20px;
      cursor: pointer;
      border: 2px solid #3498db;
      color: blue;
      background-color: #d0f118;
      border-radius: 10px;
      transition: background-color 0.3s, color 0.3s;
}

button:hover{
    background-color: #3bbb53;
      color: #fff;
}

h3{
    font-size: 60px;
    color: rgb(229, 18, 18);
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: inline;
    padding:40px;

}
